/* Trivial stylesheet to use Bedstead as a monospace font */
kbd, code, tt, pre {
    font-family: Bedstead, monospace;
}

@font-face {
    font-family: Bedstead;
    src: url(bedstead.otf) format("opentype");
}
