/* Trivial stylesheet to use Bedstead everywhere. */

/* Use Bedstead with proportional spacing for everything. */
body {
    font-family: Bedstead;
    font-feature-settings: "palt";
}

/* Except where it's conventional to use a monospaced version. */
kbd, code, tt, pre {
    font-family: Bedstead, monospace;    
    font-feature-settings: "palt" off;
}

@font-face {
    font-family: Bedstead;
    src: url(bedstead.otf) format("opentype");
}
